.btn {
  display: block;
  width: 256px;
  height: 48px;
  margin: 0 auto;
  line-height: 48px;
  border: 2px solid $dark-gray;
  color: $dark-gray;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  @include clear-arrow;
  background-color: $white;
}

.popup-form__btn,
.order-form__btn {
  line-height: 44px;
}

.btn:hover {
  background-color: $dark-gray;
  color: $white;
}

.btn:active {
  background-color: $dark-gray;
  color: rgba(255,255,255,0.7);
}

@media #{$tablet-width} {
  .btn {
    width: 289px;
  }
}
