//Gray
$bg-color: #f1f1f1;
$dark-gray: #444444;
$dark-gray-opacity: rgba(68,68,68,0.3);
$shadow: #ececec;
$dark-shadow: #c7c7c7;
//Green
$light-green: #63d1bb;
$dark-green: #56c3b2;
$light-green-hover: #59d5bc;
$dark-green-hover: #46c1ae;
$green-checked: #62d1ba;
$text-green: #46c1ae;
//black
$black: #000000;
$white: #ffffff;

$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1150px)";
$mobile-width-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";