.week-items {
  margin-top: 27px;
  margin-bottom: 0;
}

@media #{$tablet-width} {

  .week-items {
    margin-top: 40px;
  }

}

@media #{$desktop-width} {

  .week-items {
    margin-top: 65px;
  }

}
